jieba
pandas
matplotlib
numpy
scipy
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
docopt==0.6.2
idna==2.10
jpype1==0.7.0
pipreqs==0.4.10
pycparser==2.20
pyhanlp==0.1.66
pymysql==0.10.1
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.2
yarg==0.1.9
